.result {
  height: 80px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 60px;
  margin: 5px;

}

.calculator-body {
  max-width: 500px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
  font-family: "Helvetica Neue";
}
.button .c {
 background-color: orange;
 border-color: orange;
}
.button .add {
  background-color: orange;
  border-color: orange;
 }.button .subtract {
  background-color: orange;
  border-color: orange;
 }.button .multiply {
  background-color: orange;
  border-color: orange;
 }
 .button .division {
  background-color: orange;
  border-color: orange;
 }

button {
  width: 25%;
  height: 80px;
  font-size: 30px;
}
